<!DOCTYPE html>
<html>
	<head>

		<% include ./css_sources.ejs %>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	</head>
	<body>

    <div id="wrapper">

		<% include ./sidebar.ejs %>

		<!-- Page Content -->
		<div id="page-content-wrapper">
				<div id="block"></div>
				<div class="container-fluid">
					<div class="col-md-2" style="text-align: center; letter-spacing:5px; float:left">
						<a href="#navigation-main" id="navigation_mobile" aria-label="Skip to main navigation"> <i class="fa fa-bars" aria-hidden="true"></i></a>
					</div>
					<div class="page-header text-center">
				        <h2><span class="fa fa-book"></span> 사용자 프로필</h2>
				        <a href="/logout" class="btn btn-default btn-sm">로그아웃</a>
				   </div>
					<br>
				    <div class="row">

				        <div class="col-sm-12">
				            <div class="well">

				            	<% if (user.provider == undefined || user.provider == '') { %>
					                <h3><span class="fa fa-user"></span> 로컬 프로필</h3>
												<br>
														<p>
															<strong>이메일</strong>: <%= user.email %><br><br>
									            <strong>별명</strong>: <%= user.name %>
										        </p>
					            <% } else if (user.provider == 'facebook') { %>
												  <h3 class="text-primary"><span class="fa fa-facebook"></span> 페이스북 프로필</h3>
												<br>
				                    <p>
				                        <strong>이메일</strong>: <%= user.email %><br><br>
				                        <strong>이름</strong>: <%= user.name %>
				                    </p>
				              <% } else if (user.provider == 'google') { %>
													<h3 class="text-primary"><span class="fa fa-google"></span> 구글 프로필</h3>
												<br>
				                    <p>
				                        <strong>이메일</strong>: <%= user.email %><br><br>
				                        <strong>이름</strong>: <%= user.name %>
				                    </p>
								    <% } %>

								<br>
				            </div>
				        </div>

				    </div>


				</div>
		</div>
		<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->



		<!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    // Toggle Menu 누를 때 왼쪽 사이드바 등장
    // $("#menu-toggle").click(function(e) {
    //     e.preventDefault();
    //     $("#wrapper").toggleClass("toggled");
    // });

    // 토글 항시 활성화
    $("#wrapper").addClass("toggled");

    // 메뉴 버튼 누를 때 사이드바 토글 활성화
    $("#navigation_mobile").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");

      // 415px 이하일 때 사이드바 활성화될 떄 배경 흐려지게
      // 다시 사이드바 버튼을 못 누르는 상황 발생해서 보류
      // if (window.matchMedia("(max-width: 415px)").matches) {
      //   if($("#wrapper").hasClass("toggled")){
      //     $("#block").addClass("active");
      //   }
      // }
    });



    // 모바일 해상도에서 메뉴버튼 활성화, 사이드바 없애기
    if (window.matchMedia("(max-width: 768px)").matches) {
      $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
      $("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
    }

    // 768px 해상도 변화에 따른 jquery
    var mql = window.matchMedia("screen and (max-width: 768px)");

    mql.addListener(function(e) {
        if(e.matches) {
            $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
            $("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
        }
        else {
            $("#navigation_mobile").removeClass("active"); // 메뉴 버튼 비활성화
            $("#wrapper").addClass("toggled"); // 사이드바 등장
        }
      });

    </script>

	</body>
</html>
