<!DOCTYPE html>
<html lang="en">

<head>

  <% include ./css_sources.ejs %>
  <link href="./css/workout_list.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

      <% include ./sidebar.ejs %>

        <!-- 컨텐츠 영역 -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="header" style="padding-left:90%; padding-top:1%; ">
                    <a href="/logout" class="btn btn-default btn-sm" style="background-color: rgb(200, 34, 38); color:white; font-size:1.1em; border-radius:7px" >로그아웃</a>
                  </div>
                  <div class="col-md-12" style="text-align: center; letter-spacing:5px">
                    <a href="#navigation-main" id="navigation_mobile" aria-label="Skip to main navigation"> <i class="fa fa-bars" aria-hidden="true"></i></a>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-5">
                    <!-- 날짜 선택이 안되어있으면 표시 -->
                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger" style="background-color:rgb(200, 34, 38); color:white"><%= message %></div>
                    <% } %>
                      <div id="calendar_wrap">
                        <div class="table-responsive" style="border:0">
                          <form action="/showinfo" id="calendar_output" method="get">
                          <table class="table">
                            <caption id="caption" style="text-align:center">
                              <a href="#" id="prev">prev &lt;&nbsp;&nbsp;&nbsp;</a>
                              <span class="year"></span>년
                              <span class="month"></span>월
                              <a href="#" id="next">&nbsp;&nbsp;&nbsp;&gt; next</a>
                            </caption>
                            <thead>
                            <tr>
                              <th>일</th><th>월</th><th>화</th><th>수</th>
                              <th>목</th><th>금</th><th>토</th>
                            </tr>
                          </thead>
                            <tr>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            </tr>
                          </table>
                          <input value=' ' name="dates" id="calendar_input" style="background-color:transparent; clear: none; border:0px none; border-image:none; color:transparent" readonly/>
                        </form>
                      </div>
                  </div>
                  </div>

              <!-- 운동 목록 영역 -->
              <div class="col-md-7">
                <h4 style="color:rgb(200, 34, 38); text-align:center">운동목록</h4>
                <!-- action 부분을 클릭 이벤트로 추가시킬 수 있게 해보자 -->
                <form method="post" action="/addinfo" id="add_workout_db">
                <ul class="list-group" id="day_workoutlist">
                    <div>
                      <span>운동 동작을 등록하세요!</span>&nbsp;&nbsp;
                      <!-- <span><button type="submit" name="">등록하기</button></span> -->
                    <div>

                    <% for(var i=0; i < Array_length; i++) { %>
                      <li class="list-group-item day_list_title" style="border-left:none; border-right:none; border-bottom:none;"><a><input value="<%= motions_Array[i] %>" name="motions" style="background-color:transparent; clear: none; border:0px none; border-image:none" readonly/></a><span class="glyphicon glyphicon-minus motion-minus" aria-hidden="true" style="float:right; color:rgb(200, 34, 38)"></span></li>
                    <% } %>


                </ul>

              <button type="button" id="button_add_workout_list" class="btn btn-default btn-circle btn-lg"><i id="plus" class="glyphicon glyphicon-plus"></i></button>
              <input value= '<%= paramDates %>' style="background-color:transparent; clear: none; border:0px none; border-image:none; color:transparent" readonly/ name="dates">
              <input value='' name="del_motion" id="del_motion" style="background-color:transparent; clear: none; border:0px none; border-image:none; color:transparent" readonly  />
              </form>

              <!-- 라이트창2 열기 -->
              <form method="post" action="/motion_data" id="open_lightbox2">
                <input value='' name="motion_data" id="motion_data" style="background-color:transparent; clear: none; border:0px none; border-image:none; color:transparent" readonly  />
                <input value='' name="lightbox_dates" id="calendar_input2" style="background-color:transparent; clear: none; border:0px none; border-image:none; color:transparent" readonly/>
                <input value='<%= motions_list %>' name="lightbox_motions" style="background-color:transparent; clear: none; border:0px none; border-image:none; color:transparent" readonly/>
              </form>


              </div>
              <!-- col-md-7 -->

              </div>
               <!-- row -->

             </div>
             <!-- /# container-fluid -->

               <!-- 운동 목록 추가 & 운동 세부 목록 라이트창 열릴 때 배경색 설정 -->
               <div id="block"></div>

      </div>
      <!-- /#page-content-wrapper -->

      <% include ./workout_contents.ejs %>

     </div>
     <!-- /#wrapper -->

     <script src="./js/add_workout_list.js"></script>
     <!-- <script src="./js/calendar.js"></script> -->

     <!-- Bootstrap core JavaScript -->
     <script src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

     <!-- Menu Toggle Script -->
     <script>

     // 토글 항시 활성화
     $("#wrapper").addClass("toggled");

     // 메뉴 버튼 누를 때 사이드바 토글 활성화
     $("#navigation_mobile").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
     });


     // 모바일 해상도에서 메뉴버튼 활성화, 사이드바 없애기
     if (window.matchMedia("(max-width: 768px)").matches) {
       $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
       $("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
     }

     // 768px이상 해상도에서 사이드바 등장
     if (window.matchMedia("(min-width: 768px)").matches) {
       // 라이트박스 닫기 할 경우 사이드바 등장
       $('.btn-close').click(function(){
         $("#wrapper").addClass("toggled"); // 사이드바 등장
     });
     $('.btn-close2').click(function(){
       $("#wrapper").addClass("toggled"); // 사이드바 등장
     });
     }

     // 768px 해상도 변화에 따른 jquery
     var mql = window.matchMedia("screen and (max-width: 768px)");

     mql.addListener(function(e) {
         if(e.matches) {
             $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
             $("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
         }
         else {
             $("#navigation_mobile").removeClass("active"); // 메뉴 버튼 비활성화
         }
       });


       // 클릭한 날 표시하기
       var clickdates = '<%= paramDates %>';
       clickdates = clickdates.replace(/ /gi,""); // 모든 공백 제거
       console.log(clickdates);

      // 라이트창2 열기
       $('#calendar_input2').val(clickdates.replace(/ /gi, ""));

      // 운동동작 db지우기
      $('#calendar_input3').val(clickdates.replace(/ /gi, ""));

       /* ************************************************************ */
       // calendar 함수
       function calendar(new_year, new_month) {
           // 특정 년,월을 시작일(1일)부터 조회(year, month, date(1일부터시작))
           var d = new Date(new_year, new_month-1, 1);

           // 월별 일수 구하기 공식
           var d_length = 32 - new Date(new_year, new_month-1, 32).getDate(); //공식

           var year = d.getFullYear();//년
           var month = d.getMonth();//월
           var date = d.getDate();//일
           var day = d.getDay();//요일

             console.log(year, month, date, day, d_length);

           // caption 영역에 년, 월을 표시할 객체를 변수에 저장
           var $caption_year = $('.year');//년
           var $caption_month = $('.month');//월

             //날자가 표시될 달력 테이블의 td 객체를 지정(배열객체(td[0]~td[41]))
           var $start_day = $('tr td');

           // 달력 테이블 초기화
           $start_day.each(function (i) {
               $(this).html('&nbsp;')
           });

           // 한달치 날짜를 테이블에 시작요일(day)부터 순서대로 표시(d_length까지)
           for (var i = day; i < day + d_length; i++) {

            // 10이하 날짜일 때 앞에 0붙여주기
            var ddd = date;
            var mmm = month+1;

            if(ddd < 10) { ddd = '0' + ddd}
            if(mmm < 10) { mmm = '0' + mmm}

             var calendardate = year + '-' + mmm + '-' + ddd;

             // 오늘 날짜 나타낼 수 있도록
             var today = new Date();
             var dd = today.getDate();
             var mm = today.getMonth()+1;
             var yyyy = today.getFullYear();

            // 10이하 날짜일 때 앞에 0붙여주기
            if(mm < 10) { mm = '0' + mm }
            if(dd < 10) { dd = '0' + dd }

             var todaydate = yyyy + '-' + mm + '-' + dd

               if(todaydate == calendardate){
                 console.log('날짜가 일치하는 날이 존재');
                 $start_day.eq(i).html('<div style= "background-color:rgb(200, 34, 38); border-radius: 100%; width: 20px;"> <a style="color:white; padding-left:4px;">' + date +'</a></div>'); // 다르게
               } else {
                 $start_day.eq(i).html('<a>' + date +'</a>');
               }

               if(clickdates == calendardate && clickdates != todaydate){
                 console.log('클릭한 날 표시 호출');
                 $start_day.eq(i).html('<div style= "background-color:grey; border-radius: 100%; width: 20px;"> <a style="color:white; padding-left:2px;">' + date +'</a></div>'); // 다르게
               }
               date++;
           }

           // caption 년, 월 표시
           $caption_year.html(year);
           $caption_month.html(month+1);

           // 날짜 클릭 하였을 때 이벤트 추가
           for (var i = day; i < day + d_length; i++) {
              $start_day.eq(i).click(function() {
               console.log(year + '-' + (month+1) + '-' + $(this).text());

               var mm = month + 1;
               var dd = $(this).text();

               if(mm<10){ mm = '0' + mm }
               if(dd<10){ dd = '0' + dd }

               var inputdate = year + '-' + mm + '-' + dd;

              // form 태그 안에 날짜 값 전달되도록(안보이게 설정)
              // inputdate.replcae는 공백 제거하기 위함
             $('#calendar_input').val(inputdate.replace(/ /gi, ""));

             // action 실행
             document.getElementById('calendar_output').submit();

              })
           }

       }

       (function () {
           var $prev = $('#prev');//이전
           var $next = $('#next');//이후
           var year = new Date().getFullYear();//년
           var month = new Date().getMonth()+1;//월

        // 클릭한 달이 표시되도록 날짜 재설정
        if(clickdates.length > 0){
            var clickdates_array = clickdates.split('-');
            year = clickdates_array[0];
            month = clickdates_array[1];
          }

             //현재 시점을 기준으로 calendar() 함수 호출
             console.log(year,month);
           calendar(year, month);

             //이전달 정보를 요청하는 네비게이션 버튼의 이벤트 핸들러 설정
           $prev.click(function () {
              calendar(year, --month);//현재월 --
           });

              //다음달 정보를 요청하는 네비게이션 버튼의 이벤트 핸들러 설정
           $next.click(function () {
               calendar(year, ++month);//현재월 ++
           });

       })();  // 메인메소드처럼 (function () ) () 즉시 실행 되게 하는 것


     </script>


    </body>

    </html>
